<!-- filepath: /c:/Users/griff/Desktop/School/CSCE-431/502_hat/inventoryManagement/app/views/inventories/index.html.erb -->
<h1>Inventory List</h1>

<%= form_with url: inventories_path, method: :get, local: true do |form| %>
  <%= form.label :search, "Search by Item Name:" %>
  <%= form.text_field :search, value: params[:search], placeholder: "Enter item name..." %>
  <%= form.submit "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Item Name</th>
      <th>SKU</th>
      <th>Location</th>
      <th>Condition</th>
      <th>Owner</th>
      <th>Current User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.inv_id %></td>
        <td><%= inventory.item.name %></td>
        <td><%= inventory.sku %></td>
        <td><%= inventory.location %></td>
        <td><%= inventory.condition_of_item %></td>
        <td><%= inventory.original_owner.email %></td>
        <td><%= inventory.current_user.email %></td>
        <td>
          <%= link_to "Edit", edit_inventory_path(inventory) %> |
          <%= link_to "Delete", inventory_path(inventory), method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add New Inventory", new_inventory_path %>

<!-- Button to trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newItemModal">
  New Item
</button>

<!-- Modal -->
<div class="modal fade" id="newItemModal" tabindex="-1" aria-labelledby="newItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newItemModalLabel">New Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @item, url: items_path, local: true do |form| %>
          <div class="mb-3">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :category_id %>
            <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Select Category" }, { class: "form-control" } %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= form.submit "Create Item", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
