<h1>New Item</h1>

<%= form_with model: @item, local: true do |form| %>
  <div>
    <%= form.label :name, "Item Name" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, rows: 3 %>
  </div>

  <div>
    <%= form.label :category_id, "Category" %>
    <%= form.collection_select :category_id, Category.all, :cat_id, :name, prompt: "Select a Category" %>
  </div>

  <div>
    <%= form.submit "Create Item" %>
  </div>
<% end %>

<%= link_to "Back to Items", items_path %>
