<%= form_with(model: @category, local: true) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :icon %>
      <%= form.text_field :icon %>
    </div>
  
    <div>
      <%= form.label :color_code %>
      <%= form.text_field :color_code %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  