# <h1>Add Item to Inventory TEST</h1>

# <%= form_with model: @inventory, local: true do |form| %>
#   <div>
#     <%= form.label :item_id, "Select Item" %>
#     <%= form.collection_select :item_id, Item.all, :item_id, :name, prompt: "Choose an item" %>
#   </div>

#   <div>
#     <%= form.label :year_of_purchase, "Year of Purchase" %>
#     <%= form.date_select :year_of_purchase %>
#   </div>

#   <div>
#     <%= form.label :location, "Location" %>
#     <%= form.text_field :location %>
#   </div>

#   <div>
#     <%= form.label :condition_of_item, "Condition" %>
#     <%= form.text_field :condition_of_item %>
#   </div>

#   <div>
#     <%= form.label :owner_email, "Owner Email" %>
#     <%= form.collection_select :owner_email, User.all, :email, :name, prompt: "Select Owner" %>
#   </div>

#   <div>
#     <%= form.label :user_email, "Current User Email" %>
#     <%= form.collection_select :user_email, User.all, :email, :name, prompt: "Select Current User" %>
#   </div>

#   <div>
#     <%= form.label :sku, "SKU" %>
#     <%= form.text_field :sku %>
#   </div>

#   <%= form.submit "Add to Inventory" %>
# <% end %>

# <%= link_to "Back to Inventory", inventories_path %>
